.ant033_choose-studio_why_choose_area {
    padding: 50px 0 0;
    background: #fbfbfb;
}

.ant033_choose-studio_why_choose_area p {
    color: #8b8b8b;
    font-size: 15px;
}

.ant033_choose-studio_why_choose_img {
    background-image: url(../img/ant033_choose/choose_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 110px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ant033_choose-studio_why_choose_img {
        margin-top: 125px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .ant033_choose-studio_why_choose_img {
        display: none;
        margin-top: 125px;
    }
}

.ant033_choose-studio_why_choose_img img {
    margin-top: -110px;
}

.ant033_choose-studio_why_choose_title {
    margin-top: 45px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ant033_choose-studio_why_choose_title {
        max-width: 600px;
        margin: 0 auto 60px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .ant033_choose-studio_why_choose_title {
        margin-top: 0px;
        text-align: center;
    }
}

.ant033_choose-studio_why_choose_title h2 {
    margin-bottom: 22px;
}

.ant033_choose-single_choose_us {
    margin-top: 42px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .ant033_choose-single_choose_us {
        text-align: center;
        padding: 0px 9px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .ant033_choose-single_choose_us {
        margin: 42px auto 0;
        max-width: 450px;
    }
}

.ant033_choose-single_choose_us h3 {
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 400;
}

.ant033_choose-single_choose_img {
    background-size: contain;
    height: 40px;
    width: 35px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .ant033_choose-single_choose_img {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1200px) {

    .ant033_choose-studio_why_choose_area {
        padding-bottom: 50px;
    }
}