.ant038_clients-studio_brand_area {
    padding: 40px 0px;
    background: #fbfbfb;
}

.ant038_clients-studio_single_brand {
    text-align: center;
}

.ant038_clients-studio_single_brand a {
    display: inline-block;
}