.ant040_about-studio_why_we_area {
    padding: 50px 0;
    background: #fff;
}

.ant040_about-studio_why_we_area h3 {
    font-weight: 400;
    margin-bottom: 26px;
    font-size: 21px;
    position: relative;
}

.ant040_about-studio_why_we_area li {
    margin-bottom: 5px;
    color: #8b8b8b;
    line-height: 1.6;
}

.ant040_about-studio_why_we_area h3:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    top: 35px;
    left: 0;
    background: #4daefe;
}

.ant040_about-different_list {
    padding-left: 40px;
    padding-top: 60px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .ant040_about-different_list {
        padding-left: 20px;
        padding-top: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ant040_about-different_list {
        padding-left: 00px;
        padding-top: 0px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
    .ant040_about-different_list {
        padding-left: 00px;
    }
}

.ant040_about-different_list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ant040_about-different_list li {
    position: relative;
    padding-left: 34px;
    padding-top: 9px;
    padding-bottom: 5px;
}

.ant040_about-different_list li:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #4daefe;
    content: "\f560";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    font-weight: 900;
    top: 4px;
}